<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="UI Tests">
        <classes>
            <class name="tests.SearchTests"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="tests.UserApiTests"/>
        </classes>
    </test>
</suite>
